<a href="https://colab.research.google.com/github/jainnipun/MachineLearning/blob/master/Clustering/CustomerSegmentation.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
# Run this cell and select the kaggle.json file downloaded
# from the Kaggle account settings page.
from google.colab import files
files.upload()

Saving kaggle.json to kaggle.json

{'kaggle.json': b'{"username":"nipunucd","key":"b47ef5fe4b97e8886e4248a15c083c12"}'}

In [0]:

#Install the Kaggle API client.
!pip install -q kaggle

In [0]:
# The Kaggle API client expects this file to be in ~/.kaggle,
# so move it there.
!mkdir -p ~/.kaggle
!cp kaggle.json ~/.kaggle/

In [0]:
# This permissions change avoids a warning on Kaggle tool startup.
!chmod 600 ~/.kaggle/kaggle.json

In [0]:
#!kaggle datasets list

In [0]:
#!kaggle competitions download -c microsoft-malware-prediction

In [0]:
#!kaggle datasets download -d lava18/google-play-store-apps

In [8]:
!kaggle datasets download -d carrie1/ecommerce-data

Downloading ecommerce-data.zip to /content
 63% 5.00M/7.95M [00:00<00:00, 36.8MB/s]
100% 7.95M/7.95M [00:00<00:00, 50.9MB/s]

In [9]:
!unzip -d ecommerce ecommerce-data.zip

Archive:  ecommerce-data.zip
  inflating: ecommerce/data.csv

In [10]:
!ls -a

.  ..  .config	ecommerce  ecommerce-data.zip  kaggle.json  sample_data

In [11]:
!ls ecommerce

data.csv

In [0]:
import pandas as pd
data=pd.read_csv('ecommerce/data.csv',encoding = "ISO-8859-1")

In [0]:
import datetime

data['InvoiceDate'] = data['InvoiceDate'].apply(lambda x: datetime.datetime.strptime(x, "%m/%d/%Y %H:%M").strftime("%Y-%m-%d"))

In [14]:
print(data['InvoiceDate'].min())
print(data['InvoiceDate'].max())
max_date = data['InvoiceDate'].max()

2010-12-01
2011-12-09

In [0]:
data['Amount'] = data['Quantity'] * data['UnitPrice']

In [0]:
data=data.loc[data['CustomerID'].isnull()==False]

In [0]:
#data.loc[data['Amount']==0]

In [0]:
#Removing records where Quatity is 0

data = data.loc[data['Quantity']!=0]

In [0]:
#data.loc[data['CustomerID']==18274.0]
#data.loc[data['CustomerID'] == 18276.0]

In [0]:
#data.loc[data['CustomerID'] == 12347.0]

In [19]:
#Viewing nan records - if any present in data we will rectify that

nans = lambda df: df[df.isnull().any(axis=1)]
nans(data)

Empty DataFrame
Columns: [InvoiceNo, StockCode, Description, Quantity, InvoiceDate, UnitPrice, CustomerID, Country, Amount]
Index: []

In [0]:
#Not remove data where amount is 0 as we will consider free purchases as well
#data = data[data.Amount != 0]

In [0]:
#processedData = data.groupby(by=['CustomerID'])

In [0]:
# Recency  - Last Transaction date
# Frequency - Total Tranactions
# Monetary - Total Spendings

processedData = pd.DataFrame(columns=['CustomerId', 'Recency', 'Frequency','Monetary'])

In [0]:
data_group_by_customers = data.groupby(by=['CustomerID'])

In [0]:
#data_group_by_customers.InvoiceNo.nunique()

In [0]:
#Counting unique invoice per customer
processedData['Frequency'] = data.groupby(by=['CustomerID']).InvoiceNo.nunique()

#Fetching last invoice date per customer
processedData['Recency']=data.groupby(by='CustomerID').max()['InvoiceDate']

#Fetching total spending per customer
processedData['Monetary'] =  data.groupby(by='CustomerID').sum()[['Amount']]

processedData['CustomerId']=(list(processedData.index.values))

In [0]:
#Removing negative records - where refund greater than purchase
processedData = processedData.loc[processedData['Monetary']>=0.0]

In [0]:
import datetime

now = datetime.datetime.now()

processedData['Recency']=processedData['Recency'].apply(lambda x:(now-datetime.datetime.strptime(x,'%Y-%m-%d')).days)

In [28]:
processedData

            CustomerId  Recency  Frequency      Monetary
CustomerID
12346.0        12346.0     2960          2  0.000000e+00
12347.0        12347.0     2637          7  4.310000e+03
12348.0        12348.0     2710          4  1.797240e+03
12349.0        12349.0     2653          1  1.757550e+03
12350.0        12350.0     2945          1  3.344000e+02
12352.0        12352.0     2671         11  1.545410e+03
12353.0        12353.0     2839          1  8.900000e+01
12354.0        12354.0     2867          1  1.079400e+03
12355.0        12355.0     2849          1  4.594000e+02
12356.0        12356.0     2657          3  2.811430e+03
12357.0        12357.0     2668          1  6.207670e+03
12358.0        12358.0     2636          2  1.168060e+03
12359.0        12359.0     2642          6  6.245530e+03
12360.0        12360.0     2687          3  2.662060e+03
12361.0        12361.0     2922          1  1.899000e+02
12362.0        12362.0     2638         13  5.154580e+03
12363.0        12363.0     2744          2  5.520000e+02
12364.0        12364.0     2642          4  1.313100e+03
12365.0        12365.0     2926          3  3.206900e+02
12367.0        12367.0     2639          1  1.689000e+02
12370.0        12370.0     2686          4  3.545690e+03
12371.0        12371.0     2679          2  1.887960e+03
12372.0        12372.0     2706          3  1.298040e+03
12373.0        12373.0     2946          1  3.646000e+02
12374.0        12374.0     2660          1  7.429300e+02
12375.0        12375.0     2637          3  4.554200e+02
12377.0        12377.0     2950          2  1.628120e+03
12378.0        12378.0     2764          1  4.008620e+03
12379.0        12379.0     2716          3  8.502900e+02
12380.0        12380.0     2656          5  2.720560e+03
...                ...      ...        ...           ...
18242.0        18242.0     2707          4  2.232490e+03
18245.0        18245.0     2642          8  2.507560e+03
18246.0        18246.0     2658          2  5.961000e+02
18248.0        18248.0     2748          4  7.830200e+02
18249.0        18249.0     2652          1  9.534000e+01
18250.0        18250.0     2936          2  3.429200e+02
18251.0        18251.0     2722          1  4.314720e+03
18252.0        18252.0     2685          2  5.266700e+02
18255.0        18255.0     2724          1  1.033000e+02
18257.0        18257.0     2674         12  2.265380e+03
18259.0        18259.0     2659          3  2.338600e+03
18260.0        18260.0     2807          8  2.595000e+03
18261.0        18261.0     2678          2  3.242400e+02
18262.0        18262.0     2775          1  1.494800e+02
18263.0        18263.0     2658          4  1.211080e+03
18265.0        18265.0     2707          2  8.015100e+02
18268.0        18268.0     2769          2  0.000000e+00
18269.0        18269.0     2993          2  1.389000e+02
18270.0        18270.0     2673          3  2.389500e+02
18272.0        18272.0     2637          7  3.064780e+03
18273.0        18273.0     2637          3  2.040000e+02
18274.0        18274.0     2652          2  1.243450e-14
18276.0        18276.0     2656          3  3.233600e+02
18277.0        18277.0     2693          2  9.763000e+01
18278.0        18278.0     2708          1  1.739000e+02
18280.0        18280.0     2912          1  1.806000e+02
18281.0        18281.0     2815          1  8.082000e+01
18282.0        18282.0     2642          3  1.766000e+02
18283.0        18283.0     2638         16  2.094880e+03
18287.0        18287.0     2677          3  1.837280e+03

[4329 rows x 4 columns]