<a href="https://colab.research.google.com/github/jainnipun/MachineLearning/blob/master/Clustering/CustomerSegmentation.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
# Run this cell and select the kaggle.json file downloaded
# from the Kaggle account settings page.
from google.colab import files
#files.upload()

In [0]:

#Install the Kaggle API client.
!pip install -q kaggle

In [0]:
# The Kaggle API client expects this file to be in ~/.kaggle,
# so move it there.
!mkdir -p ~/.kaggle
!cp kaggle.json ~/.kaggle/

In [0]:
# This permissions change avoids a warning on Kaggle tool startup.
!chmod 600 ~/.kaggle/kaggle.json

In [0]:
#!kaggle datasets list

In [0]:
#!kaggle competitions download -c microsoft-malware-prediction

In [0]:
#!kaggle datasets download -d lava18/google-play-store-apps

In [13]:
!kaggle datasets download -d carrie1/ecommerce-data

Downloading ecommerce-data.zip to /content
 63% 5.00M/7.95M [00:00<00:00, 36.5MB/s]
100% 7.95M/7.95M [00:00<00:00, 50.6MB/s]

In [14]:
!unzip -d ecommerce ecommerce-data.zip

Archive:  ecommerce-data.zip
  inflating: ecommerce/data.csv

In [15]:
!ls -a

.  ..  .config	ecommerce  ecommerce-data.zip  kaggle.json  sample_data

In [16]:
!ls ecommerce

data.csv

In [0]:
import pandas as pd
data=pd.read_csv('ecommerce/data.csv',encoding = "ISO-8859-1")

In [0]:
import datetime

data['InvoiceDate'] = data['InvoiceDate'].apply(lambda x: datetime.datetime.strptime(x, "%m/%d/%Y %H:%M").strftime("%Y-%m-%d"))

In [19]:
print(data['InvoiceDate'].min())
print(data['InvoiceDate'].max())
max_date = data['InvoiceDate'].max()

2010-12-01
2011-12-09

In [0]:
data['Amount'] = data['Quantity'] * data['UnitPrice']

In [0]:
data=data.loc[data['CustomerID'].isnull()==False]

In [0]:
#data.loc[data['Amount']==0]

In [0]:
#Removing records where Quatity is 0

data = data.loc[data['Quantity']!=0]

In [0]:
#data.loc[data['CustomerID']==18274.0]
#data.loc[data['CustomerID'] == 18276.0]

In [0]:
#data.loc[data['CustomerID'] == 12347.0]

In [24]:
#Viewing nan records - if any present in data we will rectify that

nans = lambda df: df[df.isnull().any(axis=1)]
nans(data)

Empty DataFrame
Columns: [InvoiceNo, StockCode, Description, Quantity, InvoiceDate, UnitPrice, CustomerID, Country, Amount]
Index: []

In [0]:
#Not remove data where amount is 0 as we will consider free purchases as well
#data = data[data.Amount != 0]

In [0]:
#processedData = data.groupby(by=['CustomerID'])

In [0]:
# Recency  - Last Transaction date
# Frequency - Total Tranactions
# Monetary - Total Spendings

#processedData = pd.DataFrame(columns=['CustomerId', 'Recency', 'Frequency','Monetary'])
processedData = pd.DataFrame(columns=[ 'Recency', 'Frequency','Monetary'])

In [0]:
data_group_by_customers = data.groupby(by=['CustomerID'])

In [0]:
#data_group_by_customers.InvoiceNo.nunique()

In [0]:
#Counting unique invoice per customer
processedData['Frequency'] = data.groupby(by=['CustomerID']).InvoiceNo.nunique()

#Fetching last invoice date per customer
processedData['Recency']=data.groupby(by='CustomerID').max()['InvoiceDate']

#Fetching total spending per customer
processedData['Monetary'] =  data.groupby(by='CustomerID').sum()[['Amount']]

#processedData['CustomerId']=(list(processedData.index.values))

In [0]:
#Removing negative records - where refund greater than purchase
processedData = processedData.loc[processedData['Monetary']>=0.0]

In [0]:
import datetime

now = datetime.datetime.now()
dataset_max_date = datetime.datetime.strptime(max_date,'%Y-%m-%d')

processedData['Recency']=processedData['Recency'].apply(lambda x:(dataset_max_date-datetime.datetime.strptime(x,'%Y-%m-%d')).days)

In [56]:
processedData

            Recency  Frequency      Monetary
CustomerID
12346.0         325          2  0.000000e+00
12347.0           2          7  4.310000e+03
12348.0          75          4  1.797240e+03
12349.0          18          1  1.757550e+03
12350.0         310          1  3.344000e+02
12352.0          36         11  1.545410e+03
12353.0         204          1  8.900000e+01
12354.0         232          1  1.079400e+03
12355.0         214          1  4.594000e+02
12356.0          22          3  2.811430e+03
12357.0          33          1  6.207670e+03
12358.0           1          2  1.168060e+03
12359.0           7          6  6.245530e+03
12360.0          52          3  2.662060e+03
12361.0         287          1  1.899000e+02
12362.0           3         13  5.154580e+03
12363.0         109          2  5.520000e+02
12364.0           7          4  1.313100e+03
12365.0         291          3  3.206900e+02
12367.0           4          1  1.689000e+02
12370.0          51          4  3.545690e+03
12371.0          44          2  1.887960e+03
12372.0          71          3  1.298040e+03
12373.0         311          1  3.646000e+02
12374.0          25          1  7.429300e+02
12375.0           2          3  4.554200e+02
12377.0         315          2  1.628120e+03
12378.0         129          1  4.008620e+03
12379.0          81          3  8.502900e+02
12380.0          21          5  2.720560e+03
...             ...        ...           ...
18242.0          72          4  2.232490e+03
18245.0           7          8  2.507560e+03
18246.0          23          2  5.961000e+02
18248.0         113          4  7.830200e+02
18249.0          17          1  9.534000e+01
18250.0         301          2  3.429200e+02
18251.0          87          1  4.314720e+03
18252.0          50          2  5.266700e+02
18255.0          89          1  1.033000e+02
18257.0          39         12  2.265380e+03
18259.0          24          3  2.338600e+03
18260.0         172          8  2.595000e+03
18261.0          43          2  3.242400e+02
18262.0         140          1  1.494800e+02
18263.0          23          4  1.211080e+03
18265.0          72          2  8.015100e+02
18268.0         134          2  0.000000e+00
18269.0         358          2  1.389000e+02
18270.0          38          3  2.389500e+02
18272.0           2          7  3.064780e+03
18273.0           2          3  2.040000e+02
18274.0          17          2  1.243450e-14
18276.0          21          3  3.233600e+02
18277.0          58          2  9.763000e+01
18278.0          73          1  1.739000e+02
18280.0         277          1  1.806000e+02
18281.0         180          1  8.082000e+01
18282.0           7          3  1.766000e+02
18283.0           3         16  2.094880e+03
18287.0          42          3  1.837280e+03

[4329 rows x 3 columns]

In [59]:
from sklearn.cluster import KMeans
from sklearn.metrics import silhouette_samples, silhouette_score

range_n_clusters = [2, 3, 4, 5, 6,7,8,9,10]

for k in range_n_clusters:
   
    # Run the Kmeans algorithm
    km = KMeans(n_clusters=k)
    cluster_labels = km.fit_predict(processedData)
    centroids = km.cluster_centers_

    silhouette_avg = silhouette_score(processedData, cluster_labels)
    
    # Get silhouette samples
    silhouette_vals = silhouette_samples(processedData, cluster_labels)
    
    print(k,silhouette_avg)

2 0.9862953974173035
3 0.9630003427648444
4 0.8841566942953814
5 0.8158505063445289
6 0.772658227161448
7 0.7726653987752443
8 0.7232620351607983
9 0.6779532755212787
10 0.6774173649697526